<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
            font-family: "PingFang SC", "Hiragino Sans GB",
                "Microsoft YaHei";
            letter-spacing: 0px;
            font-size: 14px;
            line-height: 1.42857143;
            background-color: rgb(245, 245, 245);
        }
    </style>
    <link href="/static/mainsite/css/body.css" rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <div class="hearder">
        <div class="top_tabs">
            <a href="/" class="tab_no_select">首 页</a>
            <a href="/" class="tab_no_select">类型2</a>
            <a href="/" class="tab_no_select">专 题 </a>
            <div class="search_box small_search"><input id="rightTopSearchInput" type="search" placeholder="搜索">
                <img src="https://images.gitbook.cn/Fmd1PsUVWoQsFv77f9NSt6jCi3EW" class="top_search_img">
            </div>
        </div>
    </div>
    <div class="bodycenter">
        <div class="screen">
            <div class="hello">
                <span>myblog</span>
            </div>
            <div class="screenelement">
                <a class="screenitem">
                    最新
                </a>
                <a class="screenitem">
                    热门
                </a>
            </div>
        </div>
        <div style="padding:0;border: none" class="article-information-element"><a
                href="/gitchat/activity/5d0a0c6e17acfc6fc61cdd9c" target="_blank"><object>
                    <div class="article_item">
                        <a href="/?categoryId=59f59b5a49cd43306135f1ea" class="article_category">开源软件</a>
                        <div class="article_info_title">
                            <span>线下活动Apache RocketMQ 官方开发者沙龙</span></div>
                        <div class="article_info_desc">本次沙龙是由 RocketMQ 官方主办，5
                            位重量级技术大牛，带来超级干货的实力分享，赶快来👉[报名参加](http://www.huodongxing.com/event/9497509471700?td=6431775457026)。

                            容简介：**Apache RocketMQ 101 是开发者进入 RocketMQ 世界的第一堂课。101
                            会介绍 RocketMQ 的基本情况包括发展历史、生态规划、社区动态，同时阐述 RocketMQ 的概念模型、功能特点以及基本使用方法，最后会讲解 RocketMQ

                        </div>
                        <div class="article_info_bottom"><img
                                src="https://images.gitbook.cn/280b3060-927d-11e9-9642-ddbd31651811?imageView2/1/w/200/h/200"
                                class="author_img"><span class="chat_info_author">RocketMQ · RocketMQ</span>
                            <div class="article_bottom_right">
                                <div class="article_count"><span>102 人已加入</span></div>
                            </div>
                        </div>
                    </div>
                </object>
            </a>
        </div>
    </div>
</body>

</html>