
.article-information-element{
    float: left;
    position: relative;
    min-height: 1px;
    font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    letter-spacing: 0px;
    width: 1000px;
    background-color: #ffffff;
}
.article_item{
    width: 950px;
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
    padding: 25px;
}
.article_category{
    display: inline-block;
    font-size: 14px;
    color: #989ca8;
    margin-bottom: 7px;
    font-weight: 600;
    text-decoration: none;
    outline: none;

}
.article_category:hover{
    color: #ff0000;
}
.article_info_title{
    font-size: 18px;
    color: #30384C;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    font-weight: 600;
}

.article_info_desc{
    font-size: 14px;
    color: #989CA8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    margin-top: 10px;
    cursor: pointer;
}
.article_info_bottom{
    position: relative;
    margin-top: 15px;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    
}
.author_img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #f4f4f4;
}
.chat_info_author{
    color: #989CA8;
    font-size: 14px;
    display: inline-block;
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
.article_bottom_right{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
}
.article_count{
    display: inline-block;
    margin-left: 15px;
    color: #989CA8;
}
.bodycenter{
    margin: 70px auto 0;
    max-width: 1000px;
}
.screen{
    padding: 10px 20px;
    background-color: #ffffff;
}
.hello{
font-size: 24px;
color: #30384c;
font-weight: 600;
display: inline-block;
}
.screenelement{
    position: relative;
    top: -2px;
    display: inline-block;
    font-size: 16px;
    color: #989CA8;
    letter-spacing: 1px;
    border-left: 1px solid #E4E6EB;
    margin-left: 15px;
    line-height: 16px;
    font-weight: 600;

}
.screenitem{
    height: 16px;
    display: inline-block;
    padding-left: 15px;
    line-height: 16px;
    color: #9b9b9b;
}
.hearder{
    height:30px;
    position: fixed;
    top: -5px;
    left: 0px;
    right: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-bottom: solid 1px #f0f0f0;
    z-index: 3;
    width: 1000px;
    margin: 0 auto;
}
.top_tabs {
    display: inline-block;
    float: left;
    margin-top: 37px;
    max-width: 1000px;
}
.tab_no_select {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 30px;
    height: 42px;
    margin-top: -30px;
    text-align: center;
    font-size: 16px;
    color: #9b9b9b;
    line-height: normal;
    text-decoration: none;
    outline: none;
}
.small_search {
    width: 166px;
    margin-left: 50px;
}
.search_box {
    display: inline-block;
    float: right;
    width: 186px;
    height: 30px;
    margin-top: -35px;
    padding-top: 1px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #d1d1d1;
    margin-left: 140px;
    border-radius: 8px;
    line-height: 30px;
}
.top_tabs .small_search #rightTopSearchInput {
    width: 120px;
}
.top_tabs #rightTopSearchInput {
    margin: 2px 0 0 5px;
    width: 140px;
    border: 0px;
    font-size: 16px;
    line-height: 25px;
    padding-left: 5px;
    height: 18px;
    display: inline-block;
    float: left;
    outline: none;
    box-sizing: content-box;
    color: #4a4a4a;
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.top_search_img {
    width: 25px;
    padding: 3px;
    margin-top: -8px;
    cursor: pointer;
    vertical-align: middle;
    border: 0;
}
